.hidden {
  display: none;
}

* {
  box-sizing: border-box;
  background-color: #e1e1e1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

.arrow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow {
  height: 100px;
  width: 50px;
  background-color: silver;
  padding: 42px 0;
}

.arrow:hover {
  background-color: grey;
}

.sm-image {
  width: 210px;
  opacity: 0.3;
}

.main-image {
  width: 500px;
}

.images-container {
  height: 100vh;
  width: calc(100vw - 100px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.dots-container {
  position: absolute;
  bottom: 100px;
  /* height: 20px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dotContainer {
  height: 15px;
  width: 15px;
  margin: 5px;
}

.dot {
  height: 11px;
  width: 11px;
  border: black 1px solid;
  border-radius: 50%;
}

.dot:hover {
  height: 12px;
  width: 12px;
  border: #404040 2px solid;
  background-color: #808080;
}

.dot.active {
  background-color: gray;
}
